.orders-container {
  width: 90%;              
  display: flex;
  flex-direction: column;    
  align-items: center;       
  margin: 0 auto 30px auto; 
}

.table-title {
  text-align: center;      
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
}

table {
  width: 100%;              
  border-collapse: collapse;
  border: 2px solid #ddd;
}

th, td {
  padding: 12px 8px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}
