table {
  width: 90%;
  border-collapse: collapse;
  border: 2px solid #ddd;
  margin: 0 auto; /* centra orizzontalmente */
}

th, td {
  padding: 12px 8px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}
