JAVA_VERSION=

# Porte specifiche per ogni servizio
AUTH_PORT=
BACKEND_PORT=
GATEWAY_PORT=

# Profilo API
API_USER=
API_PASSWORD=

# Profilo Auth
AUTH_USER=
AUTH_PASSWORD=

# --- DB principale  ---
DB_URL=
MARIADB_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRATION=

#GATEWAY ROUTING
AUTH_SERVICE_URL=
API_SERVICE_URL=

GATEWAY_URL=
HOST_GATEWAY=

