:host {
  display: flex;
  flex-direction: column;   
  justify-content: flex-start;
  align-items: center;        
  min-height: 100vh;
  font-family: Arial, sans-serif;
  padding-top: 2rem;
  background-color: #f9f9f9;
}


.profile-container {
  padding: 2rem;
  width: 90%;        
  max-width: 900px;     
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  background-color: #fff;
  margin-bottom: 2rem;
}

.profile-container h2 {
  margin-bottom: 1rem;
}

.profile-container p {
  margin: 0.5rem 0;
}

.profile-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* ORDINI */
.orders-container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;   
  align-items: center;      
}

.table-title {
  text-align: center;     
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.error {
  color: red;
  margin-bottom: 1rem;
}
