<div class="page-container">

  <!-- Profilo utente -->
  <div class="profile-container" *ngIf="!loading && profileData">
    <h2>Profilo Utente</h2>
    <p>Username: {{ profileData.username }}</p>
    <p>Email: {{ profileData.email }}</p>
    <p>Address: {{ profileData.address }}</p>
    <p>Ruolo: {{ profileData.role }}</p>

    <div class="profile-buttons">
      <a class="btn" [routerLink]="['/home']">Vai alla Home</a>
    </div>
  </div>

  <!-- Loading -->
  <div *ngIf="loading">Caricamento...</div>

  <!-- Errore -->
  <div *ngIf="!loading && errorMessage" class="error">{{ errorMessage }}</div>

<div class="profile-container" *ngIf="roleUpper === 'SELLER' && shopData">
  <h3>Informazioni Shop</h3>
  <p>ID: {{ shopData.id }}</p>
  <p>Nome: {{ shopData.name }}</p>
  <p>Categoria: {{ shopData.shopCategory }}</p>
</div>

  <!-- Titolo tabella -->
  <div class="orders-container">
    <h3 class="table-title" *ngIf="roleUpper === 'SELLER'">Ordini ricevuti</h3>
    <h3 class="table-title" *ngIf="roleUpper === 'CUSTOMER'">Ordini fatti</h3>

    <!-- Tabella ordini -->
    <app-orders-table
      [orders]="orders"
      [role]="roleUpper"
      [profileId]="profileId!"
      [shopId]="shopId">
    </app-orders-table>
  </div>

  <!-- Nessun ordine -->
  <div *ngIf="orders.length === 0 && !loading && !errorMessage">
    Nessun ordine trovato
  </div>

</div>
