# Env file (credenciales)
../.env

# Build directories
.gradle/
build/
out/

# Gradle wrapper (keep the jar)
!gradle/wrapper/gradle-wrapper.jar

# Preserve build folders inside src if needed
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/out/
!**/src/test/**/out/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Logs
*.log

# Keystore / sensitive
*.jks
*.keystore
