
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f7fa;
  font-family: Arial, sans-serif;
}


div {
  background: white;
  padding: 2rem;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}


h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}


input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
}


input:focus {
  outline: none;
  border-color: #4a90e2;
}


button {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 6px;
  background: #4a90e2;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


button:hover {
  background: #357ab8;
}


.login-card {
  width: 300px;
}

.register-card {
  width: 350px;
}

.switch-page a {
  cursor: pointer;
  color: #4a90e2;
  text-decoration: underline;
}